html{
    box-sizing: border-box;
}
*, *:after, *:before{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Raleway', sans-serif;
}
.todo-list {
    overflow: auto;
}
.bottom-bar {
    position: fixed;
    bottom: 0;
    background-color: #5A48DD;
    width: 100%;
    height: 80px;
    display: flex;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
}
.bottom-bar__input {
    width: 90vw;
    outline: none;
    border: none;
    user-select: none;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    margin-left: 2vw;
    padding: 10px 2vmin 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}
.bottom-bar__btn {
    position: absolute;
    right: 2vw;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: #686DE0;
    bottom: 50%;
    outline: none;
    transform: translateY(50%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.bottom-bar__btn:hover {
    background-color: #7277E5;
}
.bottom-bar__btn:active {
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #474ba7;
}
.plus {
    width: 20px;
    height: 20px;
    background-image: url("../svg/plus.svg");
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.cancel {
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url("../svg/cancel.svg");
    bottom: 50%;
    transform: translate(-150%, 50%);
    margin-left: 2vw;
    left: 90vw;
    cursor: pointer;
}
.cancel:hover {
    background-color: #eaeaea;
    border-radius: 20%;
}
.todo-container {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #eeeeee;
    position: relative;
}
.checkbox-container {
    display: block;
    position: absolute;
    padding-left: 40px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    margin-left: 15px;
    top: 12px;
}
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 2px solid #686de0;
    border-radius: 5px;
}
.checkbox-container:hover input ~ .checkmark {
    background-color: #dadaff;
}
.checkbox-container input:checked ~ .checkmark {
    background-color: #686de0;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-container .checkmark:after {
    width: 20px;
    height: 20px;
    background-image: url("../svg/tick.svg");
}
.todo-container ul {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 20px;
    user-select: none;
}
.edit, .delete {
    display: inline-block;
    cursor: pointer;
}
.edit__input {
    position: absolute;
    top: 50%;
    transform: translateY(-49%);
    left: 49px;
    border: #686de0 solid 1px;
    padding-left: 5px;
    border-radius: 50px;
    font-size: 22px;
    outline: none;
    font-family: 'Raleway', sans-serif;
}