html{
    box-sizing: border-box;
}
*, *:after, *:before{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}
.todo-list {
    overflow-y: auto;
    margin-top: 50px;
}
.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
}
.bottom-bar__input {
    outline: none;
    border: none;
    user-select: none;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    margin-left: 20px;
    padding: 7px 15px 7px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
.bottom-bar__btn {
    position: absolute;
    right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    bottom: 50%;
    outline: none;
    transform: translateY(50%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.bottom-bar__btn:active {
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}
.plus {
    width: 20px;
    height: 20px;
    background-image: url("../svg/plus.svg");
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.cancel {
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url("../svg/cancel.svg");
    bottom: 50%;
    transform: translateY(50%);
    right: 90px;
    cursor: pointer;
}
.cancel:hover {
    background-color: #eaeaea;
    border-radius: 20%;
}
.todo-container {
    width: 100%;
    height: 50px;
    position: relative;
}
.checkbox-container {
    display: block;
    position: absolute;
    padding-left: 40px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    margin-left: 15px;
    top: 12px;
}
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 5px;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-container .checkmark:after {
    width: 20px;
    height: 20px;
    background-image: url("../svg/tick.svg");
}
.todo-container ul {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 20px;
    user-select: none;
}
.todo-container ul li {
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    font-family: 'icomoon';
}
.edit:after {
    content: "\e905";
}
.edit {
    transform: translateY(1px);
}
.delete:after {
    content: "\e900";
}
.delete {
    transform: rotate(45deg);
    margin-left: 20px;
}
.ready:after {
    content: "\ea10";
}
.edit__input {
    position: absolute;
    top: 50%;
    transform: translateY(-47%);
    left: 49px;
    padding-left: 5px;
    border-radius: 50px;
    font-size: 22px;
    outline: none;
    font-family: 'Raleway', sans-serif;
}
.left-menu {
    position: fixed;
    z-index: 4;
}
.left-menu__main {
    height: 100%;
    width: 100px;
    position: fixed;
    left: -100px;
    transition: left 0.5s;
}
.left-menu__btn {
    font-size: 30px;
    position: fixed;
    left: 10px;
    top: 8px;
    transition: left 0.5s, transform 0.2s;
    z-index: 5;
    cursor: pointer;
}
.left-menu__btn:after {
    font-family: 'icomoon';
    content: "\e901";
}
.left-menu__btn:hover {
    transform: scale(1.1);
}
.wrapper {
    position: relative;
    left: 0;
    transition: left 0.5s;
    overflow-x: hidden;

}
.top {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.color-scheme__btn {
    position: absolute;
    font-family: 'icomoon';
    font-size: 30px;
    right: 50%;
    top: 60px;
    transform: translateX(50%);
    cursor: pointer;
}
.color-scheme__btn:after {
    content: "\e902";
}
.color-scheme__window {
    position: absolute;
    top: 20px;
    left: 30px;
    height: 75px;
    width: 150px;
    background-color: #7c69ff;
    border-radius: 0 10px 10px 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    transition: opacity 0.3s;
    cursor: auto;
}
.color-scheme__window ul {
    position: absolute;
    left: 40px;
    font-family: 'Raleway', sans-serif;
    top: 10px;
}
.color {
    list-style: none;
    position: relative;
    font-size: 25px;
    cursor: pointer;
    user-select: none;
}
.color:before {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    bottom: 50%;
    left: -25px;
    transform: translateY(50%);
    content: '';
    background-color: #fff;
    border: #ced6e0 1px solid;
}
.color-scheme__btn[data-active="false"] > .color-scheme__window {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s 0.3s;
}
.color-scheme__btn[data-active="true"] > .color-scheme__window {
    opacity: 100;
    visibility: visible;
    transition: opacity 0.3s;
}
.dark:before {
    background-color: #2f3542;
}
.purple:before {
    background-color: #5A48DD;
}
.color-active:before {
    border: #6ab04c 2px solid;
}
.wrongAnim {
    animation: wrong 0.6s ease-out;
}

@keyframes wrong {
    25% {
        background-color: #ef7878;
    }
    100% {
        background-color: white;
    }
}